input {
    display: block;
    padding: 4%;
    border: 2px solid #E5E1DA;
    outline: none;
    border-radius: 0.3rem;
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#label {
    color: #1A120B;
    font-weight: 400;
}

@media(min-width: 768px) {
    input {
        padding: 3%;
    }

    .inputContainer {
        width: 40%;
        margin: auto;
    }
}