header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    border-bottom: 1px solid lightgray;
}

.subHeader1 {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.subHeader1 img {
    width: 20%;
}

.thread {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

p {
    font-family: "Roboto Condensed", sans-serif;
}

@media(min-width: 768px) {
    .subHeader2 {
        width: 100%;
        display: flex;
        outline: 1px green solid;
    }
}


