header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    border-bottom: 1px solid lightgray;
}

.subHeader1 {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.subHeader1 img {
    width: 20%;
}

.thread {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

p {
    font-family: "Roboto Condensed", sans-serif;
}

.subHeader2 > p {
    display: none;  
}

.subHeader2 > span {
    margin-right: 0.3rem;
}

.subHeader2 > span > a {
    font-weight: 500;
}


@media(min-width: 768px) {
    header {
        padding: 0.8rem;
    }

    .subHeader1 img {
        width: 10%;
    }

    .subHeader2 > p {
        display: block;
    }

    .subHeader2 > span {
        margin-bottom: 0.3rem;
        margin-left: 0.3rem;
    }

    .subHeader2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }
}


