body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.authContainer {
  margin: auto;
  width: 90%;
  padding-top: 4rem;
}

.authContainer > p {
  margin-top: 2.3rem;
}

.signup-h2, .login-h2 {
  text-align: center;
  color: grey;
}

p {
  text-align: center;
  line-height: 1.5;
  color: grey;
}

a {
  text-decoration: none;
  color: #525CEB;
} 

.backToLogin {
  background-color: #F5F5F5;
  color: #3876BF;
  padding: 1rem;
  outline: none;
  border: transparent;
  font-size: 1rem;
  border-radius: 0.3rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}

.reset-h2, .reset-h4 {
  text-align: center;
  color: grey;
}

.signupLabel {
  margin-bottom: 3.5rem;
}

.account-exist {
  background-color: #F5F5F5;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.loggedInMessage {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FBFFDC;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.loggedInMessage > p > span {
  font-weight: 600;
}

.resetLink {
  background-color: #FBFFDC;
  color: #54B435;
  padding: 0.5rem;
  font-size: 1.1em;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  position: relative;
  top: 3rem;
  /* margin-top: 20%; */
}

.logoutContainer {
  display: flex;
  flex-direction: column;
}

.logoutBtn {
  background-color: #525CEB;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 20%;
  text-align: center;
  margin-top: 1.5rem;
  margin-right: 1.3rem;
  align-self: flex-end;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #687EFF;
}

@media(min-width: 768px) {
  .authContainer {
    width: 35%;
    margin: auto;
  }

  .signup-h2 {
    margin-top: 2rem;
  }

  .loggedInMessage {
    height: 50vh;
  }

  .logoutBtn {
    width: 5%;
    margin-top: 1.5rem;
    margin-right: 4rem;
  }

  .resetLink {
    font-size: 1.1rem;
    border-radius: 0.5rem;
    top: 4rem;
  }
}

